{% load static %}
{% block subform1 %}
{% comment %}The tab menu starts here!{% endcomment %}
<script type="text/javascript">
    function view(a){
        var id= '.ui.small.modal.'+a;
        //alert(id);
        $(id).modal('show');
    }

    function submit(a){
        if(a=='approve'){
            document.getElementById("modal_form").setAttribute("action", "budget_approval");
            document.getElementById("modal_form").submit();
        }
        else{
            document.getElementById("modal_form").setAttribute("action", "budget_rejection");
            document.getElementById("modal_form").submit();
        }
    }


</script>

{% for i in budget_app %}

<div class="ui small modal {{i.pk}} ">
  
<form class="form" action="" method="post" enctype="multipart/form-data" id="modal_form">
    {% csrf_token %}

    <h4 class="ui dividing header">
    Budget Approvals
    </h4>
        <input type="text" hidden="true" name="check" value="{{i.id}}" >
        <input type="text" value="{{i.club}}" disabled="true">
        <input type="text" value="{{ i.club.category }}" disabled="true">
        <input type="text" value="{{ i.budget_for }}" disabled="true">
        <a class="ui inverted circular icon button" style="margin: auto;"  href="/media/{{ i.budget_file }}">
                            <i class="large attach black icon"></i>
                        </a>
        <textarea rows="2" name="{{i.id}}"></textarea>


                                    
        <button onclick="submit('approve')" class="ui positive right labeled icon button" type="submit" name="submit" id="approve" formaction="budget_approval">Approve Selected</button>
        <button onclick="submit('approve')" class="ui red right floated button" type="submit" name="submit" id="reject" formaction="budget_rejection">Reject Selected</button>
    </form>
  
</div>
{% endfor %}

    <div class="ui pointing secondary menu">
        <a class=" active item" data-tab="approvals">
            Approvals
        </a>

        <a class="item" data-tab="past">
            Past
        </a>
    </div>
    <div class="ui active  tab segment" data-tab="approvals">
    	    <div class="ui vertical segment">
            <table class="ui very basic collapsing celled sortable table"
                   style="padding-left: 2.5%;
                                                          padding-right: 2.5%;
                                                          padding-top: 1%;
                                                          padding-bottom: 1.5%;
                                                          margin: auto;" id="tableID">
                <thead>
                <tr>
                    <th>
                    </th>

                    <th class="two wide column">
                        Club
                    </th>
                    <th class="two wide column">
                        Category
                    </th>
                    <th class="two wide column">
                        Budget For
                    </th>

                    <th class="one wide column">
                        PFA
                    </th>
                    <th class="four wide column">
                        Amount
                    </th>
                    <th class="four wide column">
                        Remark
                    </th>
                </tr>
                </thead>

                <tbody>
                    <form method="post" action="" id="form">
                        {% csrf_token %}

                <tr>
                    {% for i in budget_app %}
                    <td><input type="checkbox" name="check" value="{{i.id}}"></td>
                    <td onclick="view('{{ i.pk }}')"> {{ i.club }}</td>
                    <td> {{ i.club.category }}</td>
                    <td>{{i.budget_for}}</td>
                    <td><a class="ui inverted circular icon button" style="margin: auto;"  href="/media/{{ i.budget_file }}">
                            <i class="large attach black icon"></i>
                        </a></td>
                    <td>{{i.budget_amt}}</td>
                    <td><textarea rows="2" name="{{i.id}}"></textarea></td>

                </tr>
                {% endfor %}

                </tbody>
            </table>

            <br>
            <button class="ui primary right floated button" type="submit" name="submit" id="approve" formaction="budget_approval">Approve Selected</button>
            <button class="ui red right floated button" type="submit" name="submit" id="reject" formaction="budget_rejection">Reject Selected</button>
            </form>
            <br>
            <br>

            <div class="ui divider"></div>

        </div>

    </div>
    <div class="ui tab segment" data-tab="past">
    	  	    <div class="ui vertical segment">
            <table class="ui very basic collapsing celled sortable table"
                   style="padding-left: 2.5%;
                                                          padding-right: 2.5%;
                                                          padding-top: 1%;
                                                          padding-bottom: 1.5%;
                                                          margin: auto;">
                <thead>
                <tr>
                    <th>
                    	Status
                    </th>
                    <th class="two wide column">
                        Club
                    </th>

                    <th class="two wide column">
                        Category
                    </th>

                    <th class="two wide column">
                        Budget For
                    </th>
                    <th class="four wide column">
                        Budget Amount
                    </th>

                    <th class="one wide column">
                        PFA
                    </th>
                    <th class="four wide column">
                        Remark
                    </th>
                </tr>
                </thead>

                <tbody>
                    {% for i in p_budget%}
                <tr>
                    <td> {{i.status}}</td>
                    <td> {{ i.club}}</td>
                    <td> {{ i.club.category }}</td>
                    <td>{{i.budget_for}}</td>
                    <td><a class="ui inverted circular icon button" style="margin: auto;"  href="/media/{{ i.budget_file }}">
                            <i class="large attach black icon"></i>
                        </a></td>
                    <td>{{i.budget_amt}}</td>
                    <td>{{i.remarks}}</td>
                </tr>
                    {% endfor %}
                </tbody>
            </table>


    </div>
    </div>

{% endblock subform1%}