{% block form1 %}
    <h3>Meetings</h3>
    {% comment %}The tab menu starts here!{% endcomment %}
    <div class="ui pointing secondary menu">
        <a class="active item" data-tab="meeting">
            New Meeting
        </a>
         <a class="item" data-tab="old">
            Meetings
        </a>
    </div>
    <div class="ui active tab" data-tab="holding_meetings">
    <div class="ui vertical segment">
    <form class="ui  form" action="holding_meeting/" method="post" id="meeting">
        {% csrf_token %}
        <div class="field">
            <label>Title</label>
            <input type="text" name="title" placeholder="Title">
        </div>
        <div class="fields">
            <div class="eight wide field">
            <label>Date</label>
            <input type="date" name="date" placeholder="date">
            </div>
            <div class="eight wide field">
            <label>Time</label>
            <input type="time" name="time" placeholder="Time">
            </div>
        </div>
        <div class="field">
            <label>Venue</label>
            <input type="text" name="venue" placeholder="venue">
        </div>
        <div class="field">
                        <label>Details and Description</label>
                        <textarea rows="2" form="meeting" name="Agenda"></textarea>
        </div>
        
        <button class="ui button" type="submit">Submit</button>
    </form>    
</div>
</div>
<div class="ui tab" data-tab="old">
    <div class="ui vertical segment">
    <table class="ui very basic  celled table">
                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Time</th>
                                                <th>Date</th>
                                                 <th>Venue</th>
                                                 <th>File</th>
                                            </tr>
                        </thead>
                        <tr>
                            {% for details in final_minutes%}
                                <td>{{  details.title }}</td>
                                <td>{{  details.time }}</td>
                                <td>{{  details.date }}</td>
                                <td>{{  details.venue }}</td>
                                <td><a class="ui inverted circular icon button" style="margin: auto;"  href="/media/{{  details.minutes_file }}">
                            <i class="large attach black icon"></i>
                        </a> </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            {% for details in meetingMinutes%}
                                <td>{{  details.title }}</td>
                                <td>{{  details.time }}</td>
                                <td>{{  details.venue }}</td>
                                <td>{{  details.date }}
                                </td>
                                <td> No file</td>
                                </tr>
                                {% endfor %}
                        
                         
                    </table>
</div>
</div>

  
{% endblock form1%}