{% block form9 %}
<h3>Notifications</h3>
   <!--Notfication starts here-->
            <form class="ui  form">
                <div class="field">
                    <label>Title</label>
                    <input type="text" name="Title" placeholder="Title">
                    </div>
                <div class="field">
                    <label>Date</label>
                    <input type="date" name="time" placeholder="date">
                </div>
                 <div class="field">
                    <label>Send notification To:</label>
                    <div class="ui fluid multiple search selection dropdown">
                        <input type="hidden" name="receipt">
                        <i class="dropdown icon"></i>
                    <div class="default text">Receipients</div>
                    <div class="menu">
                    <div class="item" data-value="jenny" data-text="Jenny">
          Receipient 1
        </div>
        <div class="item" data-value="elliot" data-text="Elliot">
          Receipient 2
        </div>
        <div class="item" data-value="stevie" data-text="Stevie">
          Receipient 3
        </div>
        <div class="item" data-value="christian" data-text="Christian">
          Receipient 4
        </div>
        <div class="item" data-value="matt" data-text="Matt">
          Receipient 5
        </div>
        <div class="item" data-value="justen" data-text="Justen">
          Receipient 6
        </div>
      </div>
    </div>
                </div>
                <div class="field">
                    <label>Venue</label>
                    <input type="text" name="venue" placeholder="venue">
                </div>
                 <div class="field">
                    <label>File</label>
                    <input type="file" name="venue" placeholder="venue">
                </div>
                <div class="field">
                        <label>Details and Description</label>
                        <textarea rows="2"></textarea>
        </div>
                <button class="ui button" type="submit">Submit</button>
        </form>
                
        
            <!--Notification ends here-->

{% endblock form9 %}