
<div class="ui divider"></div>

<table class="ui very basic collapsing celled sortable table"
       style="padding-left: 2.5%;
                                                          padding-right: 2.5%;
                                                          padding-top: 1%;
                                                          padding-bottom: 1.5%;
                                                          margin: auto;">
    <thead>
    <tr>

        <th class="one wide column">
            Sr.#
        </th>

        <th class="four wide column">
            Club Name
        </th>
        <th class="four wide column">
            Budget Alloted
        </th>
        <th class="four wide column">
            Budget Expenditure
        </th>
        <th class="four wide column">
            Budget available
        </th>        

    </tr>
    </thead>

    <tbody>
    <tr>
    {% for details in budgets%}
        {% if details.category == 'Technical' %}
        <td class="collapsing">
            <div class="ui fitted checkbox">
                <input type="checkbox"> <label></label>
            </div>
        </td>
        <td>{{  forloop.counter }}</td>
        <td>{{  details.club_name }}</td>
        <td>{{  details.alloted_budget }}</td>
        <td>{{  details.spent_budget }}</td>
        <td>{{  details.avail_budget }}</td>
        </tr>
        {% else %}
        
        {% endif %}

    {% endfor %}
    
    </tbody>
</table>


<br>



<br>
<br>

<div class="ui divider"></div>

