<form>
    {% comment %}The add a new skill Accordian starts here!{% endcomment %}
    <div class="ui form" style="padding: 8px; padding-left: 56px; padding-right: 12px;">
        <div class="two fields">
            <div class="twelve wide field">
                <label>Item</label>
                <input value="Search" class="ui search large input">
            </div>

            <div class="four wide field">
                <label><br></label>
                <button class="ui primary submit button">
                    Search
                    <i class="ui right floated search icon"></i>
                </button>
            </div>
        </div>
    </div>
</form>

<div class="ui divider"></div>

<table class="ui very basic collapsing celled sortable table"
       style="padding-left: 2.5%;
                                                          padding-right: 2.5%;
                                                          padding-top: 1%;
                                                          padding-bottom: 1.5%;
                                                          margin: auto;">
    <thead>
    <tr>
        <th class="one wide column">
        </th>

        <th class="one wide column">
            Sr.#
        </th>

        <th class="four wide column">
            Budget
        </th>

        <th class="four wide column">
            Budget allocated
        </th>
        <th class="four wide column">
            Budget Expenditure
        </th>
        <th class="four wide column">
            Budget available
        </th>        

    </tr>
    </thead>

    <tbody>
    <tr>
    {% for details in budgets%}
        {% if details.club_type == 'TECHNICAL' %}
        <td class="collapsing">
            <div class="ui fitted checkbox">
                <input type="checkbox"> <label></label>
            </div>
        </td>
        <td>{{  details.id }}</td>
        <td>{{  details.budget_type }}</td>
        <td>{{  details.budget_allocated }}</td>
        <td>{{  details.budget_expenditure }}</td>
        <td>{{  details.budget_available }}</td>
        </tr>
        {% else %}
        
        {% endif %}

    {% endfor %}
    
    </tbody>
</table>


<br>

<div class="ui right floated button">Edit Selected</div>
<div class="ui red right floated button">Delete Selected</div>

<br>
<br>

<div class="ui divider"></div>

