{% load static %}

<script type="text/javascript">
    function modals(a){
        var id= '.ui.large.modal.'+a;
        
        // id=id.replace(" ",".");
        alert(id);
        $(id).modal('show');
       }

</script>

{% for details in final_minutes%}
<div class="ui large modal {{ details.pk }} ">
<form class="ui large form">
	<h3>Meetings</h3>
	<div class="content">

		<div class="field">
        <label>Name</label>
        <input type="text" value="{{ details.title }}" readonly="true">
        </div>

        <div class="fields">
        	<div class="field">
        		<label>Time</label>
        		<input type="text" value="{{ details.time }}" readonly="true">
        	</div>

        	<div class="field">
        		<label>Date</label>
        		<input type="text" value="{{ details.date }}" readonly="true">
        	</div>


        </div>
        <div class="field">
        	<label>Venue</label>
        		<input type="text" value="{{ details.venue }}" readonly="true">
        </div>
        <div >
        	<label>Agenda</label>
        		<textarea rows="2" value="{{ details.Agenda }}" name="Agenda"></textarea>
        </div>
        <div class="field">
        <label href="/media/{{  details.minutes_file }}">File</label>
         </div>
	</div>
</form>
</div>


	

{% endfor %}

{% for details in meetingMinutes %}
<div class="ui large modal {{ details.pk }} ">
<form class="ui large form">
	<h3>Meetings</h3>
	<div class="content">

		<div class="field">
        <label>Name</label>
        <input type="text" value="{{ details.title }}" readonly="true">
        </div>

        <div class="fields">
        	<div class="field">
        		<label>Time</label>
        		<input type="text" value="{{ details.time }}" readonly="true">
        	</div>

        	<div class="field">
        		<label>Date</label>
        		<input type="text" value="{{ details.date }}" readonly="true">
        	</div>


        </div>
        <div class="field">
        	<label>Venue</label>
        		<input type="text" value="{{ details.venue }}" readonly="true">
        </div>
        <div class="field">
        	<label>Agenda</label>
        		<textarea rows="2" value="{{ details.Agenda }}" name="Agenda"></textarea>
        </div>
        <label>No File</label>
	</div>
</form>
</div>


	

{% endfor %}